<div class="app-c-govuk-offline-banner">
  <%= render "govuk_publishing_components/components/panel", {
    prepend: "It seems like you don't have an active internet connection.",
    title: "Information on this page may be inaccurate."
  } %>
</div>
