<div id="report-a-problem"></div>
<div class="meta-data group">
  <div class="inner">
    <p class="modified-date"><%= t 'calendar.last_updated' %>: <%= l last_updated_date, :format => '%e %B %Y' %></p>
  </div>
</div>
