<table class="clocks-calendar">
  <tbody>
    <tr>
      <th>Year</th>
      <th class="equal-width">Clocks go forward</th>
      <th class="equal-width">Clocks go back</th>
    </tr>
    <% calendars.each do |year,c| -%>
    <tr>
      <th scope="row"><%= c.year %></th>
      <td><%= c.events[0].date.strftime('%d %B') %></td>
      <td><%= c.events[1].date.strftime('%d %B') %></td>
    </tr>
    <% end -%>
  </tbody>
</table>

<div class="subscribe">
  <p>Add dates to your calendar: <%=
    link_to(ics_caption, ics_link,
            :title => 'Download these dates so you can add them to a calendar application such as iCal or Outlook')
  %>.</p>
</div>
