.app-c-subscribe {
  @include govuk-font($size: 19);
  @include govuk-responsive-margin(6, "bottom");
  padding-top: govuk-spacing(3);
}

.app-c-subscribe__link {
  @include govuk-font($size: 19, $weight: bold);

  display: block;
  background: image-url("icon-calendar.png") no-repeat scroll 0 0;
  min-height: 2.5em;
  padding: 0 0 0 3em;

  @include device-pixel-ratio() {
    background-image: image-url("icon-calendar-2x.png");
    background-size: 29px 24px;
  }
}
