// govuk_frontend_toolkit mixins
@import "_conditionals";
@import "_typography";
@import "_colours";
@import "_css3";

/* local styleguide includes */
@import "styleguide/_colours";
@import "styleguide/_conditionals2";

table.calendar td.calendar_date {
  white-space: nowrap;
}

/* bunting lol */
.bunted {
	.epic-bunting {
	  width: 100%;
	  height: 50px;
	  overflow: visible;
	  border-top: 1px solid $grey-8;

	  @include media-down(tablet) {
	    display: none;
	  }

	  span {
	    background-image: image-url("bunting.png");
	    background-color: transparent;
	    background-repeat: repeat-x;
	    background-position: center top;
	    width: 99.9%;
	    height: 70px;
	    display: block;
	  }
	}

	.related {

		@include media(desktop) {
			margin-top:6em;
		}
	}
}