// govuk_frontend_toolkit mixins
@import "conditionals";
@import "typography";
@import "colours";
@import "css3";

// local styleguide includes
@import "styleguide/colours";
@import "styleguide/conditionals2";

@import "govuk_publishing_components/all_components";

.highlighted-event {

  padding: 1.75em 0.75em 1.25em;

  @include media(tablet) {
    padding: 1.75em 0.75em 1.25em;
  }

  @include media(mobile) {
    padding: 0.5em 0.75em 0.25em;
  }

  p {
    @include heading-24;
    font-weight: bold;
    padding: 0;
    margin: 0;

    @include media(mobile) {
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
      font-weight: bold;
      padding: 0;
      margin: 0;

    }

    @include media(tablet) {
      padding: 0;
      margin: 0;
      font-weight: bold;
    }

    span {
      display: block;
      @include heading-24;
      font-weight: bold;
    }

    em {
      display: block;
      @include heading-80;
      font-weight: bold;
      margin-bottom: 0;

      padding: 0;
      padding-top: 0.2em;
      padding-bottom: 0.1em;

      @include media(mobile) {
        padding: 0;
        padding-top: 0.2em;
        padding-bottom: 0.1em;
      }

      @include media(tablet) {
        padding: 0;
        padding-top: 0.2em;
        padding-bottom: 0.1em;
      }
    }
  }
}

article {
  .subscribe {
    background: none;
    padding: 0 0 0 1em;

    @include media(tablet) {
      padding: 0.25em 0;
    }

    p {
      a {
        display: block;
        font-weight: 600;
        background: image-url("icon-calendar.png") no-repeat scroll 0 0;
        min-height: 2.5em;
        padding: 0 0 0 3em;

        @include device-pixel-ratio() {
          background-image: image-url("icon-calendar-2x.png");
          background-size: 29px 24px;
        }
      }
    }
  }
}

// calendar tables

// scss-lint:disable QualifyingElement
table.calendar {
  margin-bottom: 1em;

  td.calendar-date {
    width: 25%;
    white-space: nowrap;
  }

  td.calendar-day {
    width: 25%;
  }

  td.calendar-title {
    width: 50%;
  }
}

table.clocks-calendar .equal-width {
  width: 50%;
}

// bunting lol
.bunted {
  .epic-bunting {
    width: 100%;
    height: 50px;
    overflow: visible;
    border-top: 1px solid $grey-8;
    position: absolute;
    left: 0;

    @include media-down(tablet) {
      display: none;
    }

    span {
      background-image: image-url("bunting.png");
      background-color: transparent;
      background-repeat: repeat-x;
      background-position: center top;
      width: 99.9%;
      height: 70px;
      display: block;
    }
  }

  .epic-bunting.tinsel {
    span {
      background-image: image-url("tinsel.png");
    }
  }

  .related {
    margin-top: 4.5em;

    @include media-down(tablet) {
      margin-top: 0;
    }
  }

  // scss-lint:disable IdSelector
  #content {
    margin-top: 4em;

    @include media-down(tablet) {
      margin-top: 0;
    }

    @include media(desktop) {
      header.page-header div {
        background-color: transparent;
      }
    }
  }

}
