// govuk_frontend_toolkit mixins
@import "_conditionals";
@import "_typography";
@import "_colours";
@import "_css3";

/* local styleguide includes */
@import "styleguide/_colours";
@import "styleguide/_conditionals2";


.highlighted-event {

	padding: 1.75em 0.75em 1.25em 0.75em;

	@include media(tablet) {
		padding: 1.75em 0.75em 1.25em 0.75em;
	}

	@include media(mobile) {
		padding: 0.5em 0.75em 0.25em 0.75em;
	}

	p {
		@include heading-24;
		font-weight:bold;
		padding:0;
		margin:0;

		@include media(mobile) {
			padding: 0;
			margin-top: 0;
			margin-bottom: 0;
			font-weight:bold;
			padding: 0;
			margin:0;

		}
	
		@include media(tablet) {
			padding:0;
			margin:0;
			font-weight:bold;
		}

		span {
			display:block;
			@include heading-24;
			font-weight:bold;
		}

		em {
			display:block;
			@include heading-80;
			font-weight:bold;
			margin-bottom: 0;

			padding:0;
			padding-top:0.2em;
			padding-bottom:0.1em;
			
			@include media(mobile) {
				padding:0;
				padding-top:0.2em;
				padding-bottom:0.1em;
			}

			@include media(tablet) {
				padding:0;
				padding-top:0.2em;
				padding-bottom:0.1em;
			}
		}
	}
}

article {
	.subscribe {
		background: none;
		padding:0 0 0 1em;

		@include media(tablet) {
			padding:0.25em 0 0.25em 0;
		}

		p {
			a {
				display: block;
				font-weight: 600;
				background: image-url("icon-calendar.png") no-repeat scroll 0 0;
				min-height: 2.5em;
				padding: 0 0 0 3em;

				@include device-pixel-ratio() {
    			background-image: image-url("icon-calendar-2x.png");
    			background-size: 29px 24px;
  			}
			}
		}
	}
}

/* calendar tables */

table.calendar {
  margin-bottom: 1em;

  td.calendar_date {
    width: 25%;
    white-space: nowrap;
  }
  td.calendar_day {
    width: 25%;
  }
  td.calendar_title {
    width: 50%;
  }
}

table.clocks-calendar .equal-width {
  width: 50%;
}

/* bunting lol */
.bunted {
	.epic-bunting {
	  width: 100%;
	  height: 50px;
	  overflow: visible;
	  border-top: 1px solid $grey-8;
	  position: static;

	  @include media-down(tablet) {
	    display: none;
	  }

	  span {
	    background-image: image-url("bunting.png");
	    background-color: transparent;
	    background-repeat: repeat-x;
	    background-position: center top;
	    width: 99.9%;
	    height: 70px;
	    display: block;
	  }
	}

	.related {
		margin-top:6.5em;

		@include media(mobile) {
			margin-top:0;
		}

		@include media(desktop) {
			margin-top:6.5em;
		}
	}

	main#content {
		margin-top:1em;

		@include media(mobile) {
			margin-top:0;
		}

		@include media(desktop) {
			margin-top:1em;

			header.page-header div {
				background-color:transparent;
			}
		}
	}

}
