
.nav-tabs {
  display: none;
}

// calendar tables

article table.calendar {
  margin-bottom: 1em;

  td {
    text-align: left;
  }

  td.calendar-date {
    width: 25%;
    white-space: nowrap;
  }

  td.calendar-day {
    width: 25%;
  }

  td.calendar-title {
    width: 50%;
  }
}
