<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> | GOV.UK</title>
    <%= stylesheet_link_tag 'calendar' %>
    <%= yield :head %>
  </head>
  <%# The citizen class is going to be deprecated, to be replaced with mainstream. %>
  <%# Added the mainstream class in preparation for the change. %>
  <body class="citizen mainstream">
    <div id="wrapper" class="answer">
      <%= yield %>

      <div id="related-items"></div>
    </div>
  </body>
</html>
